body {
    margin: 0;
    padding: 0;
}

.haut {
    background-color: #f26d6d; /* Rouge/Corail */
    height: 15vh; /* Proportion en hauteur */
    display: block;
    padding-left: 10px;
}
.gauche {
    background-color: #6d8af2; /* Bleu */
    float :left;
    width: 25%; /* Proportion en largeur */
    height: 85vh; /* Proportion en hauteur */
}
.milieu {
    background-color: #84d184; /* Vert */
    display: inline-block;
    height: 85vh; /* Proportion en hauteur */
    width: 50%; /* Proportion en largeur */
}
.droite {
    background-color: #a0744b;  /* Marron */
    float :right;
    width: 25%; /* Proportion en largeur */
    height: 85vh; /* Proportion en hauteur */
}